{
  "plugins": [
    "transform-runtime",
    "array-includes",
    ["module-resolver", {
      "alias": {
        "@": "./src/js"
      }
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["latest", "stage-2"],
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    },
    "cordova": {
      "presets": [
        ["latest", {
          "es2015": { "modules": false }
        }],
        "stage-2"
      ]
    },
    "ui": {
      "presets": [
        ["latest", {
          "es2015": { "modules": false }
        }],
        "stage-2"
      ]
    },
    "dev": {
      "presets": [
        ["latest", {
          "es2015": { "modules": false }
        }],
        "stage-2"
      ]
    },
    "staging": {
      "presets": [
        ["latest", {
          "es2015": { "modules": false }
        }],
        "stage-2"
      ]
    },
    "production": {
      "presets": [
        ["latest", {
          "es2015": { "modules": false }
        }],
        "stage-2"
      ]
    }
  }
}
