@import 'colors';

// Flags

span.flag {
  display: inline-block;
  padding: 4px 7px;
  // margin-right: 15px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4em;
}

.flag {
  &.neutral {
    color: $color-text-light;
    background-color: $color-status-neutral;
  }

  &.success {
    color: $color-text-light;
    background-color: $color-status-success;
  }

  &.warning {
    color: $color-text-dark;
    background-color: $color-status-warning;
  }

  &.danger {
    color: $color-text-light;
    background-color: $color-status-danger;
  }

  &.disabled {
    color: $color-text-light;
    background-color: #b7b7b7;
  }
}

.text-color {
  &.neutral {
    color: $color-status-neutral;
  }

  &.success {
    color: $color-status-success;
  }

  &.warning {
    color: $color-status-warning;
  }

  &.danger {
    color: $color-status-danger;
  }

  &.disabled {
    color: #b7b7b7;
  }
}
