@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-regular/Roboto-regular.eot');
  src: url('../fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('../fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('../fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('../fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('../fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/Roboto-100/Roboto-100.eot');
  src: url('../fonts/Roboto-100/Roboto-100.eot?#iefix') format('embedded-opentype'),
       local('Roboto Thin'),
       local('Roboto-100'),
       url('../fonts/Roboto-100/Roboto-100.woff2') format('woff2'),
       url('../fonts/Roboto-100/Roboto-100.woff') format('woff'),
       url('../fonts/Roboto-100/Roboto-100.ttf') format('truetype'),
       url('../fonts/Roboto-100/Roboto-100.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Roboto-500/Roboto-500.eot');
  src: url('../fonts/Roboto-500/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('../fonts/Roboto-500/Roboto-500.woff2') format('woff2'),
       url('../fonts/Roboto-500/Roboto-500.woff') format('woff'),
       url('../fonts/Roboto-500/Roboto-500.ttf') format('truetype'),
       url('../fonts/Roboto-500/Roboto-500.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Roboto-italic/Roboto-italic.eot');
  src: url('../fonts/Roboto-italic/Roboto-italic.eot?#iefix') format('embedded-opentype'),
       local('Roboto Italic'),
       local('Roboto-italic'),
       url('../fonts/Roboto-italic/Roboto-italic.woff2') format('woff2'),
       url('../fonts/Roboto-italic/Roboto-italic.woff') format('woff'),
       url('../fonts/Roboto-italic/Roboto-italic.ttf') format('truetype'),
       url('../fonts/Roboto-italic/Roboto-italic.svg#Roboto') format('svg');
}
