dl {
  dt {
    float: left;
    width: 20%;
    // font-weight: bold;
  }
  dd {
    float: left;
    width: 80%;

    &:after {
      content: '';
      display: block;;
      clear: both;
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
