@import 'colors';
@import 'modules/fonts';

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.17rem;
  font-weight: 400;
  line-height: 1.17rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
}

h5 {
  font-size: 0.83rem;
  line-height: 0.83rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

p {
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 14px;
}

strong, .strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: $color-highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: darken($color-highlight, 8%);
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin-bottom: 14px;

  li {
    margin-bottom: 8px;
  }
}

ol {
  margin-left: 16px;

  li {
    margin-bottom: 8px;
  }
}

pre {
  font-family: 'Monosten', courier, monospace;
  font-size: 0.75em;
}
